.portfolio .container
{
    padding-bottom: 40px;
}
.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.portfolio .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
}
.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    
    display: block;
}
.portfolio .portfolio-item-inner .portfolio-img img
{
    width: 100%;
    display: block;
}   

.portfolio .portfolio-item-inner .portfolio-img
{
    height: 200px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}


/* MEDIA QUERIES */
@media  (max-width: 720px) {
    /* Fix aside for mobile */
    .section{
      left: 0;
      position: relative;
    }
  
    .about .about-content .personal-info .info-item{
      min-width: 100%;
    }
  
    .about .about-content .education, .about .about-content .experience {
      max-width: 100% !important;
      flex: none !important;
    }
    .home .home-info
      {
          flex: 0 0 100%;
          max-width: 100%;
      }
      .home .home-img
      {
          display: none;
      }
      .about .about-content .personal-info .info-item p span 
      {
          display: block;
          margin-left: 0;
      }
  }
  
  @media (max-width:991px){
      .contact .contact-info-item,
      .portfolio .portfolio-item
      {
          flex: 0 0 50%;
          max-width: 50%;
      }
      .home .home-info
      {
          flex: 0 0 100%;
          max-width: 100%;
      }
      .home .home-img
      {
          display: none;
      }
  }
  @media (max-width:767px)
{ 
    
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom:30px;
    }
}
